*{
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background: #252525;
   
}

/*div, a {
    background: #ccc;
}*/

/*a{
    visibility: hidden;
}*/
.hidden{
    visibility: hidden;
}
/*Menu*/

.menu{
    list-style: none;
    padding: 0;
    background: #2c4d3c;
    width: 100%;
    max-width: 1000px;
    margin: 0px auto;
}
.menu li{
    display: inline-block;
}
.menu li a{
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 20px;
    
}
a{
    position: relative;
}

.menu li a:hover{
    background: #95d2b2;
}
/* tablas */

 table, td, th{
    border: 1px solid rgba(255, 255, 255, 0.2);
    }
 
 table{
    border-collapse: collapse;
    width: 500px;
    text-align: center;
 }
 
 tr:hover{
    background: #95d2b2;
 }
 th, td{
    padding: 10px 20px;
 }
 th{
    background: #2c4d3c;
    color: bold;
 }
/* Formulario*/

.formulario{
    background: #95d2b2;
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
}
.formulario input{
    display: block;
}
.formulario [type="text"],
.formulario [type="email"],
.formulario textarea{
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 3px;
    border:1px solid #4a6ff5 ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.formulario [type="text"]:focus,
.formulario [type="email"]:focus,
.formulario textarea:focus{
    border: 2px solid #2c4d3c;
}

.formulario textarea{
    min-height: 120px;
    max-height: 300px;
    min-width: 100%;
    max-width: 100%;}

.formulario input[type="submit"]{
    width: 200px;
    margin: 0 auto;
    background: none;
    border:2px solid #2c4d3c;
    color: #2c4d3c ;
    padding: 10px;
    box-shadow: 2px 2px 10px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
}
input[type="submit"]:hover{
    background: #7db096;
}
/*Transformar elementos*/

.box{
    width:200px ;
    height:200px ;
    background:#fff ;
    transform: skew(5deg, 0deg) translate(665px, 0px) rotate(10deg)
}
/*Transiciones*/
.caja2{
    width: 200px;
    height: 200px;
    background: #1C5253;
    transition: all 1s ease-out;
    transition-delay:2s;
}
.caja2:hover{
    background: #306B34;
    width: 400px;
    transform: rotate(180deg);
}